# NLP Explore Exercises

In [1]:
# general imports
import numpy as np
import pandas as pd

# prepping data
 

# local imports
import env
import acquire as a
import prepare as p
import explore as e

#### 1. Spam Data

- Load the spam data set.
- Create and explore bigrams for the spam data. Visualize them with a word cloud. How do they compare with the ham bigrams?
- Is there any overlap in the bigrams for the spam data and the ham data?
- Create and explore with trigrams (i.e. a n-gram with an n of 3) for both the spam and ham data.

### **Acquire Spam**

In [2]:
spam = a.get_spam_data()
spam

        id label                                               text
0        0   ham  Go until jurong point, crazy.. Available only ...
1        1   ham                      Ok lar... Joking wif u oni...
2        2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3        3   ham  U dun say so early hor... U c already then say...
4        4   ham  Nah I don't think he goes to usf, he lives aro...
...    ...   ...                                                ...
5567  5567  spam  This is the 2nd time we have tried 2 contact u...
5568  5568   ham              Will Ì_ b going to esplanade fr home?
5569  5569   ham  Pity, * was in mood for that. So...any other s...
5570  5570   ham  The guy did some bitching but I acted like i'd...
5571  5571   ham                         Rofl. Its true to its name

[5572 rows x 3 columns]

### **Prepare Spam**

In [3]:
# for this size of dataset lemmatizing seems better than stemming
# going to clean, tokenize, and lemmatize.
spam = p.prep_spam(spam)
spam

     label                                               text
0      ham  go jurong point crazy available bugis n great ...
1      ham                              ok lar joking wif oni
2     spam  free entry wkly comp win fa cup final tkts 21s...
3      ham                    dun say early hor c already say
4      ham        nah dont think goes usf lives around though
...    ...                                                ...
5567  spam  2nd time tried contact a750 pound prize claim ...
5568   ham                          b going esplanade fr home
5569   ham                        pity mood soany suggestions
5570   ham  guy bitching acted like id interested buying s...
5571   ham                                     rofl true name

[5572 rows x 2 columns]

### **Explore Spam**

In [4]:
# let's see what the raw counts and percentage of messages
# that are ham v. spam
e.show_counts_and_ratios(spam, "label")

         n   percent
ham   4825  0.865937
spam   747  0.134063

#### Splitting the Data

In [5]:
train, validate, test = e.split_data(spam, target='label')

In [6]:
train.head()

     label                                               text
944    ham  sent scores sophas secondary application schoo...
4860   ham                                  nokia phone lovly
2153   ham                            dont shall buy one dear
3613   ham                                               ok c
3737   ham                      stopped get ice cream go back

#### 2. Explore the blog articles using the techniques discussed in the exploration lesson.

#### 3. Explore the news articles using the techniques discussed in the exploration lesson. Use the category variable when exploring.